body {
    background: #FFFEF8;
    color: #3D3D3D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

.link.bold li {
    font-weight: bolder;
}


.log {
    margin-top: 150px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.loginForm {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm a {
    align-self: center;
    text-decoration: underline;
}

#email, #password {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    height: 50px;
}

label {
    margin: 10px 0 10px 0;
}

.log input {
    height: 35px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
}

#loginButton:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    padding: 10px;
    text-align: center;
}
